.App-header {
  display: flex;
  background-color: antiquewhite;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li+li:before {
    padding: 8px;
    color: blue;
    content: '>';
  }

  li {
    display: inline-flex;
    float: left;
  }

  li:hover {
    background-color: aqua;
  }

  a {
    display: block;
    padding: 8px;
  }

  .left {
    margin-left: auto;
  }

  .breadcrumbs {
    display: flex;
    flex-direction: column;

    h4 {
      float: left;
      margin: 0;
      margin-left: 5px;
    }
  }
}
