.slider {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  margin-left: 15px;

  &-container {
    display: flex;
    .slider-item {
      // cursor: grab;
      // fixed width
      flex-basis: 300px;
      flex-grow: 0;
      flex-shrink: 0;
      height: 500px;
      border: 1px solid black;
      border-radius: 15px;
      transition-property: transform, opacity, -webkit-transform;
      transition-duration: 1s;
    }

    .is-grabbing {
      cursor: grabbing;
    }
    .is-active {
      background-color: green;
      opacity: 1;
    }

    .is-hidden {
      background-color: green;
      opacity: 0;
    }
  }

  .button-group {
    display: flex;
    gap: 2px;
  }
}
